<!DOCTYPE html>
<html lang="en" ng-app="blogea">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <base href="/">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

    <div id="body">
        <header id="header">
            <div class="container">
                <div class="title">
                    <p id="logo">{{ logo }}</p>
                </div>
                <nav id="menu-nav" class="nav">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                </nav>
            </div>
        </header>

        <section class="container" ng-view></section>

        <section id="side">
            <div id="search" class="search" ng-cloak ng-controller="SearchCtrl">
                <input type="text" name="search" placeholder="Search" ng-model="searchValue" ng-keyup="doSearch($event)" />
            </div>
            <div id="rencent">
                <h3>Recent Posts</h3>
                <ul>
                    {% for post in recent %}
                        <li class="recent-title">
                            <a href="/post/{{ post.id }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    </div>

    </body>
</html>
