<!DOCTYPE html>
<html lang="en" ng-app="blogea">
    <head>
        <meta charset="UTF-8">
        <title>Simple blog powered by Express and AngularJS</title>
        <!-- >
        <base href="/">
        <--!>
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

    <div id="body">
        <header id="header">
            <div class="container">
                <div class="colgroup">
                    <div class="title col-3">
                        <p id="logo">Hello World</p>
                    </div>
                    <div id="search" class="search col-1">
                        <input type="text" name="search" placeholder="Search" />
                    </div>
                    <nav id="menu-nav" class="col-0">
                        <a href="#/">Home</a>
                        <a href="#/about">About</a>
                    </nav>
                </div>
            </div>
        </header>

        <section class="container">
            <section class="colgroup" ng-view></section>
        </section>
    </div>

    </body>
</html>
