
<section class="main">
    <p>Create new post</p>
    <form id="edit-form" class="b-form">
        <ul>
            <li>
                <label>Title</label>
                <input type="text" name="title" ng-model="form.title" required>
            </li>
            <li>
                <label>Content</label>
                <textarea class="b-text" name="content" ng-model="form.content" required></textarea>
            </li>
            <li>
                <label></label>
                <button ng-click="submitCreateForm($event)">Submit</button>
            </li>
        </ul>
    </form>
</section>
